﻿p{padding:0;margin:0;}
input{font-family:Calibri;}
textarea{font-family:Calibri;}
.win10_border{border:1px solid rgba(252, 251, 249, 0.5);}

.form_title{font-size:18px;line-height:25px;}
.form_title .favicon{vertical-align: middle;
  margin-right: 10px;width: 22px;
  height: 22px;}
  .form_title span{vertical-align:middle;}
  .rightToLeft .form_title .favicon{margin-right: 0;margin-left:10px;}
.close{right:20px;top:24px;padding:3px;position:absolute;cursor:pointer;}
.drag{position:absolute;top:5px;left:0;right:0;margin:auto;pointer-events:none;}
.close:hover{opacity:0.7;}
.close:active{opacity:0.5;}
.close:focus{opacity:0.5;}
.rightToLeft .close{right:auto;left:20px;}

.about_form{vertical-align:middle;line-height:20px;text-align:center;width:375px;height:auto;background:#000000;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;position:absolute;}
.about_form .form_title{text-align:left;}
.about_form .content_title{opacity:0.8;border:1px solid transparent;top:51px;cursor:pointer;width:105px;height:34px;position:absolute;line-height:34px;vertical-align:middle;text-align:center;}
.about_form .contact_title{left:51%;}
.about_form .content_title:hover{opacity:1;}
.about_form .description_title{right:51%;}
.about_form .focus{background:rgba(255,255,255,0.25);opacity:1;}
.about_form .content{margin-top:50px;width:100%;}
.about_form .content1{display:none;height:220px;overflow:auto;}
.about_form .content2{height:220px;overflow:hidden;position: relative;}
.about_form .description{text-align:left;}
.about_form .item{width:100%;position:relative;margin:0;min-height:18px;text-align:left;overflow: hidden;width:100%;}
.about_form .item .title{display:inline-block;position:absolute;left:0;top:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;width:70px;}
.about_form .content2 .item .content{margin:0;width:auto;}
.about_form .content1 .item .content{margin:0 0 0 80px;width:auto;}
.about_form .content1 .item{height:34px;line-height:34px;}
.about_form a{text-decoration:underline;}
.about_form .content2 .aboutLogo{display: inline-block; width: 354px; height: 105px;}

.about_form .swiper{padding:0 10px;position:absolute;left:0;top:0;}
.about_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;z-index:1;}
.about_form .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.about_form.rightToLeft{text-align:right;}
.about_form.rightToLeft .form_title{text-align:right;}
.about_form.rightToLeft .item .title{left:auto;right:0;}
.about_form.rightToLeft a{float: right;}
.about_form.rightToLeft .content2 .item .content{margin:0;text-align:right;}
.about_form.rightToLeft .content1 .item .content{margin:0 80px 0 0;text-align:right;}
.about_form.rightToLeft .item .title{text-align:left;}



.color_panel{display:none;z-index:9999;width:202px;background-color:#ffffff;position:absolute;}
.color_panel tr{position:relative;}
.color_panel td{width:14px;height:14px;position:relative;}


.colorSelection{width:25px;height:25px;cursor:pointer;border-width:2px;padding:0;}

.bookmark_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;display:block;z-index:1000;left:-350px;top:157px;width:250px;height:425px;background:#000000;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;}
.bookmark_form .inputForm{width:100%;margin-top:10px;height:30px;position:relative;}
.bookmark_form .input_title{width:192px;height:30px;border:none;padding:0 10px;position:absolute;left:0;}
.bookmark_form .colorSelection{width:28px;height:28px;border:1px solid #ffffff;position:absolute;right:0;}
.bookmark_form .add_page{display:inline-block;vertical-align:middle;text-align:center;cursor:pointer;width:120px;height:30px;line-height:30px;margin-top:10px;background:rgba(255,255,255,0.25);}
.bookmark_form .add_page.left{margin-right:10px;}
.bookmark_form .list_title{cursor:default;font-size:15px;height:30px;width:100%;margin-top:10px;background:rgba(255,255,255,0.1);line-height:30px;vertical-align:middle;text-align:left;}
.bookmark_form .list_title span{padding:0 10px;display:inline-block;}
.bookmark_form .list_title .page{border-right:1px solid rgba(255,255,255,0.1);width:30px;}
.bookmark_form .list_title .description{width:108px;border-right:1px solid rgba(255,255,255,0.1);}
.bookmark_form .list_title .edit{}

.bookmark_form .stage{overflow:hidden;width:100%;position:relative;padding:0 20px;margin:0 0 0 -20px;}
.bookmark_form .swiper{width:100%;left:0;top:0;}

.bookmark_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.bookmark_form .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.bookmark_form .removeAll{width:100%;height:30px;line-height:30px;background:rgba(255,255,255,0.25);margin-top:5px;cursor:pointer;vertical-align:middle;text-align:center;display:none;}

.bookmark_form .item{width:100%;height:30px;line-height:30px;vertical-align:middle;text-align:left;position:relative;margin-top:5px;padding-left:20px;}
.bookmark_form .item span{padding:0 10px;display:inline-block;}
.bookmark_form .item input{display:inline-block;}
.bookmark_form .item .page{width:30px;}
.bookmark_form .item .title{width:82px;height:20px;border:none;padding:0 10px;background:transparent;}
.bookmark_form .item .colorSelection{margin:0;width:20px;height:18px;position:absolute;left:150px;top:6px;display:none;}
.bookmark_form .item img{position:absolute;cursor:pointer;}
.bookmark_form .item .save{left:180px;top:7px;display:none;}
.bookmark_form .item .cancel{left:210px;top:7px;display:none;}
.bookmark_form .item .edit{left:210px;top:7px;}
.bookmark_form .item .delete{left:234px;top:7px;}

.bookmark_form.rightToLeft{text-align:right;}
.bookmark_form.rightToLeft .input_title{left:auto;right:0;direction:rtl;}
.bookmark_form.rightToLeft .colorSelection{right:auto;left:0;}
.bookmark_form.rightToLeft .add_page.left{margin-left:10px;margin-right:0;}
.bookmark_form.rightToLeft .list_title{text-align:right;}
.bookmark_form.rightToLeft .list_title .page{border-left:1px solid rgba(255,255,255,0.1);border-right:none;width:30px;}
.bookmark_form.rightToLeft .list_title .description{border-left:1px solid rgba(255,255,255,0.1);border-right:none;}
.bookmark_form.rightToLeft .list_title .edit{}
.bookmark_form.rightToLeft .progress{left:0;right:auto;}
.bookmark_form.rightToLeft .progressBar{left:0;right:auto;}

.bookmark_form.rightToLeft .item{text-align:right;}
.bookmark_form.rightToLeft .item .title{direction:rtl;}
.bookmark_form.rightToLeft .item .colorSelection{right:130px;left:auto;}
.bookmark_form.rightToLeft .item .save{right:160px;left:auto;}
.bookmark_form.rightToLeft .item .cancel{right:190px;left:auto;}
.bookmark_form.rightToLeft .item .edit{right:190px;left:auto;}
.bookmark_form.rightToLeft .item .delete{right:214px;left:auto;}



.download_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;left:0;top:0;z-index:1000;background:#000000;width:375px;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;position:absolute;}
.download_form .content{padding:20px 20px 0 20px;margin-left:-20px;position:relative;width:100%;height:198px;}
.download_form .content1{
  width: 212px;
  height: 196px;
  border-right: 1px solid rgba(252, 251, 249, 0.5);
  position: absolute;
  top:20px;
  left:20px;
}
.download_form .content2{
  /* border: 1px solid rgba(252, 251, 249, 0.5); */
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 196px;
  right: 20px;
  top: 20px;
}
.download_form .downloadButton{cursor:pointer;width:181px;height:30px;margin:10px 10px 0 10px;background:rgba(255,255,255,0.25);line-height:30px;vertical-align: middle;text-align:center;}
.download_form .item{cursor:pointer;line-height:30px;vertical-align: middle;position:relative;}
.download_form .item span{margin-left:6px;vertical-align: middle;}
.download_form .item img{vertical-align: middle;margin:4px;margin-left:10px;}
.download_form .downloadAttachments input{padding:0 5px;width:102px;height:30px;border:none;margin-left:10px;font-size:12px;}
.download_form .content1 select{margin:10px;margin-top:5px;width:181px;color:#989898;height:30px;border:none;border-radius:0;outline:none;}
/* .download_form .downloadAll{margin-top:30px;} */

.download_form.rightToLeft{text-align:right;}
.download_form.rightToLeft .item{padding:0;}
.download_form.rightToLeft .item img{left:auto;right:4px;}
.download_form.rightToLeft .item span{margin:0 10px 0 0;}
.download_form.rightToLeft .downloadAttachments input{margin:0 10px 0 0;}
/* .download_form .downloadButton{margin:20px 0 0 0;width:auto;} */


.help_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;left:0;top:0;z-index:1000;width:310px;background:#000000;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;}
.help_form{text-align:center;}
.help_form .logo{text-align:center;margin:10px;max-width:310px;max-height:200px;}
.help_form .title{margin:10px;}
.help_form .form_title{text-align:left;}

.help_form.rightToLeft .form_title{text-align:right;}

.phone_scroll_y{overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch;}



.print_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;left:0;top:0;z-index:1000;background:#000000;width:310px;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;position:absolute;}
.print_form .printButton{cursor:pointer;width:100%;height:30px;margin-top:20px;background:rgba(255,255,255,0.25);line-height:30px;vertical-align: middle;text-align:center;}
.print_form .item{cursor:pointer;margin:10px 0;line-height:30px;vertical-align: middle;position:relative;}
.print_form .item span{margin-left:10px;vertical-align: middle;}
.print_form .item img{vertical-align: middle;margin:4px;}
.print_form .printRange input{padding:0 5px;width:102px;height:30px;border:none;margin-left:10px;font-size:12px;}

.print_form.rightToLeft{text-align:right;}
.print_form.rightToLeft .item{padding:0;}
.print_form.rightToLeft .item img{left:auto;right:4px;}
.print_form.rightToLeft .item span{margin:0 10px 0 0;}
.print_form.rightToLeft .printRange input{margin:0 10px 0 0;}
.print_form .printButton{margin:20px 0 0 0;width:auto;}



/*scrollbar*/
::-webkit-scrollbar {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}



.search_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;z-index:1000;left:-300px;top:0;width:250px;height:548px;background:#000000;
  padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;position:absolute;}
.search_form .input_search{width:210px;height:30px;border:none;padding:0 30px 0 10px;margin-top:10px;}
.search_form .searchButton{position:absolute;top:72px;right:25px;cursor:pointer;z-index:10;max-width:22px;max-height: 22px;transform: translate(0, -50%);}
.search_form .result{margin-top:10px;}
.search_form .close{right:20px;}
.search_form.rightToLeft .close{left:20px;right:auto;}

.search_form .stage{overflow:hidden;width:250px;height:460px;position:relative;margin:10px 0 0 -20px;padding:0 20px;}
.search_form .swiper{width:100%;position:absolute;left:0;top:0;}

.search_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.search_form .progressBar{width:5px;height:5px;opacity:0.25;background:#ffffff;position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.search_form .item{padding:5px 20px;cursor:pointer;}
.search_form .item .description{font-size:15px;margin-top:3px;opacity:0.6;}
.search_form .item:hover{background:rgba(255,255,255,0.25);}

.search_form.rightToLeft{text-align:right;}
.search_form.rightToLeft .input_search{direction:rtl;padding:0 10px 0 30px;}
.search_form.rightToLeft .searchButton{left:25px;right:auto;}
.search_form.rightToLeft .progress{left:0;right:auto;}
.search_form.rightToLeft .progressBar{left:0;right:auto;}


.settingpc_form{vertical-align:middle;line-height:20px;text-align:center;width:310px;height:140px;color:#ffffff;font-size:15px;font-family:Calibri;position:absolute;}
.settingpc_form{
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	text-align:center;
}
.settingpc_form .item{
	width:140px;
	height:140px;
	margin:0 7px;
	background:black;
	display:inline-block;
	float:left;
	position:relative;
	cursor:pointer;
}
.settingpc_form .item img{
	width:60px;
	height:60px;
	margin-top:20px;
}
.settingpc_form .item .title{
	width:100%;
	text-align:center;
}


.share_form{text-align:left;vertical-align:middle;line-height:20px;z-index:1000;padding:20px;left:0;top:0;width:375px;background:#000000;color:#ffffff;font-size:12px;font-family:Calibri;position:absolute;}

.share_form .share_content{position:relative;height: 200px;width:100%;margin-top:20px;}

.share_form .swiperContainer{font-size:14px;width: 210px;height:150px;position: absolute;right: 2.5px;padding-left: 20px;overflow: hidden;}
.share_form .shareStage{width: 210px;height:120px;position: absolute;top:30px;overflow: hidden;right:0;}
.share_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.share_form .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}
.share_form .shareSwiper{width:210px;position:absolute;right:0;top:0;}

.share_form .codeBox{position:absolute;width:110px;height:150px;text-align: center;left:12.5px;}
.share_form .shareCode{position:absolute;width:100px;height:100px;border:5px solid #fff;}
.share_form .miniProgramCode{position:absolute;width:124px;height:124px;top:-7px;left:-7px;}
.share_form .codeButton{position:absolute;width:110px;bottom:0;height:26px;line-height: 26px;}
.share_form .codeButton>span{opacity:0.5;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;background:rgba(255,255,255,0.25);cursor:pointer;display: inline-block;width: 50%;height:26px;line-height: 26px;}
.share_form .codeButton>span.active{opacity: 1;}
.share_form .share_title{position: absolute;width:210px;left:20px;top: -3px;}
.share_form .link_Box{position:absolute;width:100%;height:30px;bottom:0;}
.share_form .link_input{width:278px;height:28px;line-height:28px;padding:0 10px;border:1px solid #e3e3e3;}
.share_form .copy{background:rgba(255,255,255,0.25);width:75px;height:30px;top:0;right:0;cursor:pointer;position:absolute;line-height:30px;vertical-align:middle;text-align:center;}
.share_form .sharePanel img{height:42px;margin:0 10px 5px 0;border:none;}

.share_form.rightToLeft .swiperContainer{right:auto;left:2.5px;padding:0 20px 0 0;}
.share_form.rightToLeft .shareStage{right:auto;left:0;}
.share_form.rightToLeft .codeBox{right:12.5px;left:auto;}
.share_form.rightToLeft .share_title{left:auto;right:20px;}
.share_form.rightToLeft .link_input{border-radius:0;}
.share_form.rightToLeft .copy{}
.share_form.rightToLeft .sharePanel img{margin:0 0 5px 10px;}
.share_form.rightToLeft .progress{right:auto;left:0;}
.share_form.rightToLeft .progressBar{right:auto;left:0;}

.share_form p{line-height:20px;}

.share_form .shareCurrentPageBox{position: absolute;left: 0;bottom: 35px;}
.share_form .shareCurrentPage{position:absolute;margin:3px 0;left:0; width:14px; height: 14px;}
.share_form .shareCurrentPageTitle{display: inline-block; margin: 0 25px;}

.share_form.rightToLeft .shareCurrentPageBox{left:auto;right: 0;}
.share_form.rightToLeft .shareCurrentPage{position:absolute;left:auto;right:0;}

.share_form.rightToLeft{text-align:right;}
.share_form.rightToLeft .copy{left:0;right:auto;}



.tableofcontent_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;z-index:1000;left:-300px;top:150px;width:250px;height:548px;background:#000000;padding:20px;color:#ffffff;font-size:15px;font-family:Calibri;}
.tableofcontent_form .input_search{width:210px;height:30px;border:none;padding:0 30px 0 10px;margin-top:10px;margin-left:0;}
.tableofcontent_form .searchButton{position:absolute;top:60px;right:25px;cursor:pointer;z-index:10;}

.tableofcontent_form .stage{overflow:hidden;width:250px;height:515px;position:relative;margin:10px 0 0 -20px;padding: 0 20px;}
.tableofcontent_form .swiper{width:100%;position:absolute;left:0;top:0;}

.tableofcontent_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:0;cursor:pointer;}
.tableofcontent_form .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:0;top:0;cursor:pointer;border-radius:2px;}

.tableofcontent_form .item{padding:5px 0 5px 10px;font-size:15px;cursor:pointer;position:relative;margin-right:0;margin-left:0;}
.tableofcontent_form .item .arrow{padding:10px;position:absolute;top:3px;}
.tableofcontent_form .item .description{padding:3px 0;display:inline-block;}
.tableofcontent_form .item:hover{background:rgba(255,255,255,0.1);}

.tableofcontent_form.rightToLeft{text-align:right;}
.tableofcontent_form.rightToLeft .item{margin-right:0;margin-left:0;padding:5px 10px 5px 0;}
.tableofcontent_form.rightToLeft .progress{left:0;right:auto;}
.tableofcontent_form.rightToLeft .progressBar{left:0;right:auto;}
.tableofcontent_form.rightToLeft .searchButton{left:25px;right:0;}
.tableofcontent_form.rightToLeft .input_search{padding:0 10px 0 30px;}


.thumbBar {
	bottom: -130px;
	left: 0px;
	right: 0px;
	position: absolute;
	height: 120px;
	z-index: 100;
}
.thumbBG {
	position: absolute;
	bottom: 1px;
	left: 0px;
	right: 0px;
	height: 105px;
	overflow: hidden;
	/*background-color: #000000;*/
	opacity: 0.9;
}
.thumbBox {
	position: absolute;
	bottom: 1px;
	left: 0px;
	right: 0px;
	height: 95px;
}


.thumbItem{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 60px;
	height: 82px;
	border-width: 1px;
	border-style:inset;
	border-color: #aaaaaa;
}
  
.fbTopBar{
  display: none;

}

.fbTopBar .button {
	position : static;
	display:inline;
	width : 42px;
	height : 46px;
}

.fbTopBar .button img {
	width:22px;
	height:22px;
	margin-left : 10px;
	margin-top : 12px;
}

.fbTopBar .button span{
	display: none;
}

.fbToolBar{
  position: absolute;
  overflow: hidden;
  z-index: 99;
 
  bottom: 0px;
	left: 0px;

  width : 100%;
	height: 46px;

}
	
	
.pageNumber{
	position : absolute;
}

.pageNumber input{
	/* position: absolute; */
	top:0;
	border:transparent;
	text-align : center;
	vertical-align : middle;
	height : 25px;
	line-height : 27px;
	font-family:Arial;
}

.pageNumber input:focus{
	outline:none;
}
	
.logoBar{
	position: absolute;
	left: 5px;
	top:0px;
	height:100%;
	z-index: 1;
}

.searchBar{
	position:absolute;
	right : 42px;
	background-color:gray;
	margin-top:8px;
	padding-left:10px;
	padding-right:5px;
}

.preSearch{
	background-color:gray;
	display:inline;
	float:left;
}

.preSearch input{
	background-color:gray;
	color:#AAAAAA;
	font-family : Arial;
	display:inline;
	float:left;
	border:0px solid transparent;
	height:18px;
	margin-top:5px;
}

.preSearch input:focus{
	outline:none;
}

.searchBar .button{
	position : static;
	display:inline;
	width : 30px;
	height : 30px;
}

.searchBar .button img{
	width:22px;
	height:22px;
	margin-left : 5px;
	margin-top : 5px;
}

.searchBar .button span{
	display:none;
}

.buttonBar{
	display:inline;
	height:100%;
}

.buttonBar.left{
	float:left;
}

.buttonBar.right{
	display: none;
}

.pageBar{
	display:inline;
	float:left;
	height:100%;
}
	
.buttonBar .button {
	position : static;
	display:inline;
	width : 42px;
	height : 46px;
}

.button.left{
	float:left;
}

.button.right{
	float:right;
}

.buttonBar .button img {
	width:22px;
	height:22px;
	margin-left : 10px;
	margin-top : 12px;
}

.button span{
	font-family : "Tahoma","sans-serif","Arial";
	font-size : 12px;
}

.buttonBar .button span{
	display:none;
}

.pageBar .button{
	position:absolute;
	width : 42px;
	height : 46px;
}

.pageBar .button img {
	width:22px;
	height:22px;
	margin-left : 10px;
	margin-top : 12px;
}

.pageBar .button span{
	display:none;
}

.extendedBar{
	overflow : hidden;
	position : absolute;
	z-index: 98;
}

.extendedBar .button{
	position : absolute;
	display:block;
	width : 160px;
	height : 46px;
}

.extendedBar .button img{
	width:22px;
	height:22px;
	margin-left : 5px;
	margin-top : 12px;
}


.extendedBar .button span{
	position:absolute;
	color : white;
	margin-left:10px;
	margin-top : 18px;
}

.extendedBar.rtl .button img{
	width:22px;
	height:22px;
	float : right;
	margin-right : 5px;
	margin-top : 12px;
}


.extendedBar.rtl .button span{
	position:absolute;
	color : white;
	right :0px;
	margin-right:30px;
	margin-top : 18px;
}

.floatPageButton{
	position : absolute;
	z-index: 100;
	width:63px;
	height:160px;
	opacity:0.95;
}

.floatPageButton img{
	width:22px;
	height:22px;
	margin-left:19px;
	margin-top:56px;
}

.floatPageButton span{
	display : none;
}


.thumbnail_win10{text-align:left;vertical-align:middle;line-height:20px;position:absolute;z-index:1000;left:0;top:0;padding:10px 0;width:100%;height:254px;background:#000000;color:#ffffff;font-size:12px;font-family:Calibri;}
.thumbnail_win10 .close{right:20px;top:-24px;position:absolute;cursor:pointer;width:26px;height:18px;background-color:#000000;}
.thumbnail_win10 .close img{position:absolute;left:10px;top:6px;}

.thumbnail_win10 .stage{overflow:hidden;height:225px;margin:20px;position:relative;}
.thumbnail_win10 .swiper{position:absolute;top:0;height:190px;}

.thumbnail_win10 .progress{width:8px;height:8px;position:absolute;bottom:7px;right:0;cursor:pointer;}
.thumbnail_win10 .progressBar{width:8px;height:8px;background:rgba(255,255,255,0.25);position:absolute;top:0;cursor:pointer;border-radius:4px;}

.thumbnail_win10 p{height:20px;line-height:20px;bottom:0;vertical-align:middle;position:absolute;width:100%;bottom:0;left:0;text-align:center;}
.thumbnail_win10 .item_focus{display:inline-block;height:190px;margin-right:10px;cursor:pointer;position:absolute;}
.thumbnail_win10 .item_focus .title{display:none;}
.thumbnail_win10 .item{height:190px;position:absolute;}
.thumbnail_win10 .item .title{display:none;}
.thumbnail_win10 .item img{height:170px;width:120px;box-sizing:border-box;pointer-events:none;}

.thumbnail_win10 .item.highlight img{border:2px solid #016BAF;}
.thumbnail_win10 .item_focus.highlight .item.left img{border:2px solid #016BAF;border-width:2px 0 2px 2px;}
.thumbnail_win10 .item_focus.highlight .item.right img{border:2px solid #016BAF;border-width:2px 2px 2px 0;}

.thumbnail_win10 .item:hover img{border:2px solid #f18200;}
.thumbnail_win10 .item_focus:hover .item.left img{border:2px solid #f18200;border-width:2px 0 2px 2px;}
.thumbnail_win10 .item_focus:hover .item.right img{border:2px solid #f18200;border-width:2px 2px 2px 0;}

.thumbnail_win10 .btn{}
.thumbnail_win10 .leftBtn{}
.thumbnail_win10 .rightBtn{}



.videogallery_form{text-align:left;vertical-align:middle;line-height:20px;position:absolute;z-index:1000;color:#ffffff;margin:auto;width:700px;background:#000000;padding:20px;font-size:15px;font-family:Calibri;position:absolute;overflow:hidden;}
.videogallery_form .form_title{font-size:18px;line-height:20px;}
.videogallery_form .title{font-size:18px;line-height:20px;}
.videogallery_form .video{width:334px;height:223px;background:rgba(255,255,255,0.25);margin-top:15px;}
.videogallery_form .video_list{width:330px;height:223px;position:absolute;right:15px;top:50px;}
.videogallery_form .info{margin-top:15px;}
.videogallery_form .info .description{width:100%;}
.videogallery_form .description{opacity:0.6;}

.videogallery_form .stage{overflow:hidden;width:100%;height:201px;position:relative;}
.videogallery_form .swiper{width:100%;position:absolute;left:0;top:0;}

.videogallery_form .progress{width:15px;height:5px;position:absolute;bottom:0;right:-5px;cursor:pointer;}
.videogallery_form .progressBar{width:5px;height:5px;background:rgba(255,255,255,0.25);position:absolute;right:5px;top:0;cursor:pointer;border-radius:2px;}

.videogallery_form .item{cursor:pointer;width:274px;padding-left:61px;min-height:42px;margin-top:5px;position:relative;}
.videogallery_form .item .title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.videogallery_form .item .thumbnail{background-color:rgba(255,255,255,0.25);width:56px;height:42px;position:absolute;top:2px;;left:0;background-position:center center;background-size:contain;background-repeat:no-repeat;}
.videogallery_form .item:hover {text-decoration:underline;}

.videogallery_form.rightToLeft{text-align:right;}
.videogallery_form.rightToLeft .video_list{left:15px;right:auto;}
.videogallery_form.rightToLeft .item{padding-right:61px;padding-left:0;margin-left:5px;}
.videogallery_form.rightToLeft .item .thumbnail{left:auto;right:0;}
.videogallery_form.rightToLeft .progress{left:-5px;right:auto;}

.appear_win10{position:absolute;opacity:0;z-index:1001;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);text-align:center;vertical-align:middle;}
.appear_win10 .main_dom{position:relative;display:inline-block;left:0;top:0;}
.appear_win10:after{content:""; display:inline-block; height:100%;vertical-align:middle;}

.button_hover:hover{opacity:0.7;filter:alpha(opacity=40);}
.button_hover:active{opacity:0.2;filter:alpha(opacity=20);}

.disable{opacity:0.2;filter:alpha(opacity=20);}
.usable{opacity:1;filter:alpha(opacity=100);}


